.aside-left,.page-header{
  position:sticky;
  top:0;
}
.aside-left{
  padding:5px;
  width:250px;
  height:100vh;
  border-right:1px solid #DDD;
  flex-shrink:0;
}
.branding-image{
  margin:25px auto;
  width:150px;
}
.aside-ul>li:first-child{
  position:relative;
  margin-bottom:5px;
}
#aside-search{
  padding:8px 12px;
  width:100%;
}
#aside-autocomplete{
  font-size:13px;
}
.autocomplete-ul,#account-ul{
  display:none;
  position:absolute;
  border:1px solid #DDD;
  background:white;
  box-shadow:0 3px 3px rgba(0,0,0,0.1);
}
.autocomplete-ul{
  padding:5px 0;
  width:100%;
  border-top:none;
}
.autocomplete-ul>li{
  padding:10px;
  overflow-x:hidden;
  text-overflow:ellipsis;
}
.aside-ul a,.nav-ul a{
  display:block;
  padding:10px;
}
.aside-ul a{
  color:#555;
  text-decoration:none;
}
.aside-ul>li:not(:first-child) a{
  font-weight:bold;
}
.aside-ul .active{
  border-right:2px solid #1565C0;
}
.aside-ul>li:hover>#account-ul{
  display:block;
  padding:3px;
  width:200px;
}
.page-header,.data-ul>li:not(:last-child){
  border-bottom:1px solid #DDD;
}
.page-header{
  padding:10px;
  background:white;
}
.nav-bottom{
  position:fixed;
  bottom:0;
  width:100%;
  border-top:1px solid #DDD;
  background:white;
}
.nav-ul{
  display:flex;
  justify-content:space-around;
}

/*Desktop screen view*/
@media only screen and (min-width:601px){
  .autocomplete-ul>li{
    cursor:pointer;
  }
  .page-layout{
    display:flex;
  }
  .autocomplete-ul>li:hover,.aside-ul a:hover{
    color:black;
    background:#EEE;
  }
  .page-content{
    flex-grow:1;
  }
  .nav-bottom{
    display:none;
  }
}

/*Mobile screen view*/
@media only screen and (max-width:600px){
  .aside-left{
    display:none;
  }
  .main-content{
    margin-bottom:50px;
  }
}
